.bar-posirive .spinner {
    stroke: #6FA0F3;
}

h1.empty {
    color: grey;
    font-size: 2em;
    padding: 1em;
    text-align: center;
}

.sensor-item {
    height: 70px;
}

.sensor-item .sensor-label, .sensor-item .sensor-text-value {
    line-height: 38px;
}

.sensor-item .sensor-ui {
    float: right;
}

.sensor-item .range, .sensor-item .range input {
    margin: 0;
    padding: 0;
}

.sensor-ui .color-picker-button {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    border: 1px solid white;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    border-radius: 18px;
}

.env-info {
    line-height: 10px;
    font-size: 1em;
    height: 40px;
    margin: 0;
    padding: 0;
}
