<ion-view view-title="Sensor">
    <ion-content>
        <div class="card sensor-card">
            <div class="item item-divider">
                <h1>
                    <i class="icon {{sensor.icon}}"></i>
                    {{title}}
                </h1>
            </div>

            <ion-toggle
                ng-if="sensor.path === '/a/fan'"
                ng-model="sensor.data.properties.value"
                ng-checked="sensor.data.properties.value"
                ng-click="updateSensor()">
                Status
            </ion-toggle>

            <div ng-if="sensor.path === '/a/temperature'" class="item">
                {{sensor.data.properties.temperature}} {{sensor.data.properties.units}}
            </div>

            <div class="item" ng-if="sensor.path === '/a/rgbled'">
                <button
                    class="button icon ion-edit"
                    color-picker=""
                    color-box="{{colorModel.rgb}}"
                    model-mode="rgb"
                    hide-reset="true"
                    ng-model="colorModel.rgb">
                    Change color
                </button>
                <button
                    class="button icon ion-checkmark"
                    style="float: right;"
                    ng-click="applyRGBLed()">
                    Apply
                </button>
            </div>

            <ion-toggle
                ng-if="sensor.path === '/a/led'"
                ng-model="sensor.data.properties.value"
                ng-checked="sensor.data.properties.value"
                ng-click="updateSensor()">
                Status
            </ion-toggle>

            <!-- ===============================================================
            SOLAR PANEL
            ================================================================ -->
            <div ng-if="sensor.path === '/a/solar'" class="item range">
                <input type="range" ng-model="sensor.data.properties.tiltPercentage" />
            </div>
            <div ng-if="sensor.path === '/a/solar'" class="padding">
                <button
                    class="button button-positive button-block icon ion-checkmark"
                    ng-click="updateSensor()">
                    Apply
                </button>
            </div>
    </ion-content>
</ion-view>
