<div x-sensor-fan         ng-if="sensor.path === '/a/fan'"></div>
<div x-sensor-gas         ng-if="sensor.path === '/a/gas'"></div>
<div x-sensor-led         ng-if="sensor.path === '/a/led'"></div>
<div x-sensor-rgbled      ng-if="sensor.path === '/a/rgbled'"></div>
<div x-sensor-solar       ng-if="sensor.path === '/a/solar'"></div>
<div x-sensor-temperature ng-if="sensor.path === '/a/temperature'"></div>
<div x-sensor-buzzer ng-if="sensor.path === '/a/buzzer'"></div>
<div x-sensor-illuminance ng-if="sensor.path === '/a/illuminance'"></div>
<div x-sensor-button ng-if="sensor.path === '/a/button'"></div>
<div x-sensor-button-toggle ng-if="sensor.path === '/a/button'"></div>
<div x-sensor-motion ng-if="sensor.path === '/a/pir'"></div>
<div x-sensor-switch ng-if="sensor.path === '/a/binarySwitch'"></div>
