<ion-view view-title="Sensor">
    <ion-content>
        <div class="card sensor-card">
            <div class="item item-divider">
                <h1>
                    <i class="icon {{sensor.icon}}"></i>
                    {{title}}
                </h1>
            </div>

            <ion-toggle
                ng-if="sensor.path === '/a/fan'"
                ng-model="sensor.data.properties.value"
                ng-checked="sensor.data.properties.value"
                ng-click="updateSensor()">
                Status
            </ion-toggle>

            <div ng-if="sensor.path === '/a/temperature'" class="item">
                {{sensor.data.properties.temperature}} {{sensor.data.properties.units}}
            </div>

        </div>
    </ion-content>
</ion-view>
