<ion-view view-title="Sensors">
    <ion-content>
        <h1 class="empty" ng-if="sensors.length == 0">
            Discovering sensors...
        </h1>

        <ion-list ng-if="sensors.length > 0">
            <ion-item class="icon-left sensor-item" ng-repeat="sensor in sensors" href="#/app/sensors/{{sensor.slug}}">
                <img class="icon" ng-src="{{sensor.icon}}"/>
                <span>{{sensor.name}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
